//  advantages

.advantages {
	padding: 60px 0;	
	}
    // .advantages-list li {
	// width: 100%;

.advantages-list li:not(:last-child){
	margin-bottom: 30px;
}

.advantages-list h3{
	
	color: $font-heading-color;
	margin-bottom: 10px;
    text-align: center;
}
.advantages-list p {
	line-height: 1.7;
	color: $font-description-item-color;
}
.icon-advantages {

	height: 120px;
    width: 100%;
	padding: 25px 0;
	margin-bottom: 30px;
	background: #F5F4FA;
	border-radius: 4px;
	fill: #212121;
}

@media screen and (min-width: 768px) {

    .advantages-list li {
        width: 354px;

    }
    
    .advantages-list-item:nth-child(even) {
        padding-left: 15px;
    }
    .advantages-list-item:nth-child(odd) {
        padding-right: 15px;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;  
    }
    .advantages-list li {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    .advantages {
	padding: 94px 0 0 0;	
	}
    .advantages-list {
	justify-content: center; 
    }
.advantages-list h3{
    text-align: left;
}

.advantages-list .advantages-list-item {
	width: 270px;
    padding: 0;
}
.advantages-list li:not(:last-child){
	margin-right: 30px;
    
  }  
}
