//  advantages

.advantages {
	padding: 60px 0;	
	}
    

.advantages-list li:not(:last-child){
	margin-bottom: 30px;
}

.advantages-list h3{
	
	color: $font-heading-color;
	margin-bottom: 10px;
    text-align: center;
}
.advantages-list p {
	line-height: 1.7;
	color: $font-description-item-color;
}
.icon-advantages {

	height: 120px;
    width: 100%;
	padding: 25px 0;
	margin-bottom: 30px;
	background: #F5F4FA;
	border-radius: 4px;
	fill: #212121;
}

@media screen and (min-width: 768px) {

    .advantages-list li {
        width: 354px;
        
    }
    
    .advantages-list-item:nth-child(even) {
        margin-left: 15px;
    }
    .advantages-list-item:nth-child(odd) {
        margin-right: 15px;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap; 
         
        & h3{
        text-align: left; 
             }
    }
    
}

@media screen and (min-width: 1200px) {
    .advantages {
	padding-top: 94px;	
    padding-bottom: 0;
	}
    .advantages-list {
	justify-content: center; 
    }
.advantages-list h3{
    text-align: left;
}

.advantages-list .advantages-list-item {
	width: 270px;
    margin: 0;
}
.advantages-list li:not(:last-child){
	margin-right: 30px;
    
  }  
}

