.customers{
	padding: 60px 0;
    @media screen and (min-width: 1200px) {
             padding: 94px 0;
         }
    &-icon  {
	fill: currentColor;
            }
&-list  {
	    
            display: flex;
            justify-content: center;
            flex-wrap: wrap; 
            margin: -15px;

          & li {
              
              margin: 15px;
              width: 100%;
          }

           & a {
	       width: inherit;
	       height: 90px;
           
	       border: 1px solid; 
	       border-radius: 4px;
	       color: #AFB1B8;
               }

           & a:hover,
           & a:focus {
	       color: $hover-web-color;
                     }
	        }
            
     }
    
     .customers-list li {
         @media screen and (min-width: 479px) {
             width: 208px;
         }
         @media screen and (min-width: 480px) and (max-width: 767px) {
             width: 208px;
         }
         @media screen and (min-width: 768px) {
             width: 224px;
         }
         @media screen and (min-width: 1200px) {
             width: 170px;
         }


         
     }
