
     
   
.close-burger {
    width: 40px;
    height: 40px;
    fill: currentColor;
}
.mobile-close-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #212121;

    &:hover,
    &:focus {
        color: #2196F3;
    }
    
}

.mobile-menu {
    
    position: fixed;
    transform: translateX();
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding-left: 40px;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-right: 83px;
    @media screen and (max-width: 420px) {
        padding-left: 8vw;
        padding-top: 6vh;
        padding-bottom: 6vh;
        padding-right: 17vw;
    }
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-150%);
    width: 100%;
    height: 100vh;
    max-width: 767px;
    background-color: white;
    transition: transform 500ms linear;
    overflow: scroll;


}
.font-mob-menu {
    font-weight: 500;
font-size: 34px;
line-height: 1.17;
color: #757575;

}
.mobile-menu-list {
    
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
    & li:not(:last-child) {
        margin-bottom: 32px;
    }  
}
.studio-mob,
 .tel-mob {
    color: #2196F3;
}
.tel-mob {
    margin-bottom: 20px;
    margin-top: 33px;
    @media screen and (max-width: 420px){
        font-size: 24px;
    }
    
}
.mail-mob {
  color: #757575;
  font-size: 24px;
  
}
.mobile-contacts-list {
    margin-bottom: 64px;
}

.mobile-social-list {

   
    display: flex;
    // justify-content: space-between;
    @media screen and (max-width: 420px) {
     flex-wrap: wrap;
     
    }

    
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;

    & a {color: #2196F3;}

    & li:not(:last-child) {
        padding-right: calc((100vw - 420px)/6);
        margin-right: calc((100vw - 420px)/6);
        border-right: 1px solid #2196F3;
        @media screen and (max-width: 420px){
            
         padding-right: calc((100vw - 267px)/4);
        margin-right: calc((100vw - 267px)/4);   
        }
     }
 
    }


.mobile-menu.is-open {
    transform: translateX(-50%) translateY(0%);
  }

  @media screen and (min-width: 768px) {
  .mobile-menu 
   {
      display: none
 }
 }