
	$font-description-item-color: #757575; 
	$font-heading-color: #212121;
	$accent-color: #ffffff;
	$background-footer-hero-color: #2f303a;
	$background-basic-color: #e5e5e5;
	$background-team-button-color: #f5f4fa;
	$hover-web-color: #2196f3;
	$font-family: 'Roboto';
	$font-style: normal;
	$address-color: #757575;
	$fontsize-header-footer-advantage: 14px;
	$fontsize-team-projectsdesc-buttons: 16px;
	
	
	

	
